html{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  height:100%;  
  overflow-y: scroll; 
}
body {
  height:100%;
  margin: 0;
  padding: 0;
}

.navigate {
  display: block;
}

.nav-sidebar {
	border-right: light-grey;
	width: 220px;
	position: fixed;
	padding: 5%
}

.navbar-brand-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

 nav.navbar {
  min-height: 40px;
}

.breadcrumb-link {
	color: bs-grey;
}

.breadcrumbs-container {
	padding-top: 8px;
	padding-bottom: 8px
}

.container-login {
	padding: 65px 15px;
	margin-top: 40px;
}

.container-limited {
  max-width: 1280px;
}

div#loginbox {
	padding: 5%;
}

.nav-link {
    color: #dfe8f1;
    text-decoration: none;
}

a.navigate {
	  color: #212529;
    text-decoration: none;
    font-size: large;
    margin-right: 20px;
}

$color-primary: #fc6b26
$color-secondary: #292961

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper-left {
  min-height: 100vh;
  margin-left: -15rem;
  width: 15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper-left .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper-left .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper-left {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper-left {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper-left {
    margin-left: -15rem;
  }
}

#sidebar-wrapper-right {
  min-height: 100vh;
  margin-right: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper-right .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper-right .list-group {
  width: 15rem;
}

#wrapper.toggled #sidebar-wrapper-right {
  margin-right: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper-right {
    margin-right: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper-right {
    margin-right: -15rem;
  }
}